.header{
    padding-top: 30px;
    margin-bottom: 50px;
    background-color:rgb(215, 127, 161);
    color: white;
}
.icon{ 
    color:  white;
}
.prueba{
    background-color: rgb(246, 137, 137)!important;
    border-color: rgb(246, 137, 137)!important;
}


